@(sessionId : String, room: Room)

@if(room == null) {
    <h1>Room not found</h1>
} else {
    @main(room.getName) {
        <div class="container">
            <input type="hidden" value='@session.get("username")' id="username"/>
            <div class="alert alert-success" id="status_bar">
                <b><span id="status_text">You are waiting!</span></b><br>
                <span>Your color is:</span>
                <div id="player-color" style="display: inline-block; height: 20px; width: 20px; border-radius: 50%; background-color: #6dae38; margin-top: 5px; margin-bottom: 0px;"></div>
                <button id="passButton" class="btn btn-danger" disabled>Pass Round</button>
            </div>
            <div id="container" data-ws-url="@routes.BoardDrawController.board(sessionId).webSocketURL()"></div>
            <div id="scores" class="alert alert-success">
                <h3>Lederboard of this game:</h3>
                <ul class="list-group">
                </ul>
                <br>
                <button id="exit-button" class="btn btn-success">Exit the room!</button>
            </div>
            <script src="@routes.Assets.versioned("javascripts/lib/konva.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/lib/require.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/lib/jquery-3.2.1.min.js")" type="text/javascript"></script>
            <script src="@routes.Assets.versioned("javascripts/src/boardRead.js")" type="text/javascript"></script>
        </div>
    }
}