@(username : String, room: Room)

@if(room == null) {
    <h1>Room not found</h1>
} else {
    @main(room.getName) {
        <div id="roomdetails" class="container" data-ws-url="@routes.RoomsController.getRoomDetail(username).webSocketURL()">
            <input type="hidden" value="@username" id="owner"/>
            <input type="hidden" value='@session.get("username")' id="sessionusername"/>
            <h3>Owner: @username</h3>
            <p>Mode: @room.getMode</p>
            <a href="@routes.RoomsController.joinRoom(username)"><button>Join</button></a>
            <a href="@routes.RoomsController.leaveRoom(username)"><button>Leave</button></a>
            <ul id="player_list" class="list-group">
                <!-- Dynamically filled with WebSocket JS -->
            </ul>
        </div>
        <script src='@routes.Assets.versioned("javascripts/src/ws_roomdetails.js")' type="module"></script>
    }
}