@(sessionId : String, room: Room)

@if(room == null) {
    <h1>Room not found</h1>
} else {
    @main(room.getName) {
        <div id="roomdetails" class="container" data-ws-url="@routes.RoomsController.getRoomDetail(sessionId).webSocketURL()">
            <input type="hidden" value="@sessionId" id="owner"/>
            <input type="hidden" value='@session.get("username")' id="username"/>
            @if(flash.containsKey("joinerr")) {
                    <div class="alert alert-danger" id="full">
                        The room is full! You can't join!
                    </div>
            }
            <h3>Owner: @sessionId</h3>
            <p>Mode: @room.getMode</p>
            <a href="@routes.RoomsController.joinRoom(sessionId)"><button>Join</button></a>
            <a href="@routes.RoomsController.leaveRoom(sessionId)"><button>Leave</button></a>
            <a href="@routes.BoardDrawController.index(sessionId)"><button>Enter game</button></a>
            <a href="@routes.RoomsController.addBot(sessionId)"><button>Add Bot</button></a>

            <ul id="player_list" class="list-group">
                <!-- Dynamically filled with WebSocket JS -->
            </ul>
        </div>
        <script src='@routes.Assets.versioned("javascripts/src/ws_roomdetails.js")' type="module"></script>
    }
}